.movie {
    background-color:#f0f2f5;
}

.title {
    display: flex;
    color: #000000;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.rating {
    width: 30px;
    height: 30px;
    border: 2px solid #E9D100;
    border-radius: 50%;
    text-align: center;
}

.rate-tab {
    background-color:white;
}

.year {
    color: #827E7E;
}

.bad-rated {
    border: 2px solid #E90000;
}
.so-rated {
    border: 2px solid #E97E00;
}
.normal-rated {
    border: 2px solid #E9D100;
}
.good-rated {
    border: 2px solid #66E900;
}

.rated-text {
    align-self: center;
}