{
  "env": {
    "browser": true,
    "es2021": true
  },
  "ignorePatterns": ["node_modules", "dist", "build"],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "eslint-config-prettier",
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "curly": ["error"],
    "max-depth": ["warn", 4],
    "id-length": ["warn", { "exceptions": ["i", "j"], "min": 2 }],
    "no-lonely-if": ["error"],
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "class-methods-use-this": "off",
    "jsx-a11y/href-no-hash": ["off"],
    "jsx-a11y/anchor-is-valid": ["off"],
    "react/state-in-constructor": ["off"],
    "react/jsx-props-no-spreading": ["off"],
    "react/prefer-stateless-function": ["off"],
    "arrow-body-style": ["off"],
    "react/prop-types": ["off"],
    "react/no-unused-state": ["off"],
    "no-useless-concat": ["off"],
    "react/no-access-state-in-setstate": ["off"],
    "react/function-component-definition": ["off"],
    "react/no-unused-class-component-methods": ["off"],
    "react/static-property-placement": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/destructuring-assignment": [0 , { "ignoreClassFields": true }],
    "jsx-a11y/label-has-associated-control": [ 2, {
      "labelComponents": ["CustomInputLabel"],
      "labelAttributes": ["label"],
      "controlComponents": ["CustomInput"],
      "ignoreElements": [
        "audio",
        "canvas",
        "embed",
        "input",
        "textarea",
        "tr",
        "video",
        "button"
      ],
      "depth": 3,
      "assert": "either"
    }],
    "no-unused-vars": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}